@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  display: none;
}

:root {
  --foreground-rgb: 255, 255, 255;
  --background-rgb: 0, 0, 0;

  --accent-rgb: 25, 24, 21;
  --accent-foreground-rgb: 255, 255, 255;

  --primary: 248, 250, 252;
  --primary-foreground: 2, 2, 5;

  --secondary: ;
  --secondary-foreground: ;

  --destructive: ;
  --destructive-foreground: ;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
}