{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Beautiful Sin</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@tabler/icons-webfont@latest/dist/tabler-icons.min.css" />
  <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
  {% block styles %}
  {% endblock %}
</head>

<body>
  <div class="sidebar">
    <div class="logo-content">
      <div class="logo">
        <i class="ti ti-brand-redhat"></i>
      </div>
      <i class='ti ti-menu-2' id="btn"></i>
    </div>
    <ul class="nav-list">
      <sidebar-link href="/" title="Home" icon-class="ti ti-home"></sidebar-link>
      <sidebar-link href="/settings" title="Settings" icon-class="ti ti-settings"></sidebar-link>
    </ul>
  </div>
  <div class="content">
    {% block content %}
    {% endblock %}
  </div>
</body>
<script src="{% static 'js/sidebar.js' %}"></script>
<script src="{% static 'js/sidebarLink.js' %}"></script>
{% block scripts %}
{% endblock %}
</html>