{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Beautiful Sin</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@tabler/icons-webfont@latest/dist/tabler-icons.min.css" />
  <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/search.css' %}">
  {% block styles %}
  {% endblock %}
</head>

<body>
  <div class="sidebar">
    <div class="logo-content">
      <div class="logo">
        <i class="ti ti-brand-redhat"></i>
      </div>
      <i class='ti ti-menu-2' id="btn"></i>
    </div>
    <ul class="nav-list">
      <sidebar-link href="/" title="Home" icon-class="ti ti-home"></sidebar-link>
      <sidebar-link href="/browser-exploitation" title="Browser Exploitation" icon-class="ti ti-webhook"></sidebar-link>
      <sidebar-link href="/web-security" title="Web Security" icon-class="ti ti-browser"></sidebar-link>
      <sidebar-link href="/system-security" title="System Security" icon-class="ti ti-gizmo"></sidebar-link>
      <sidebar-link href="/mobile-security" title="Mobile Security" icon-class="ti ti-device-tablet"></sidebar-link>
      <sidebar-link href="/forensics" title="Forensics" icon-class="ti ti-letter-f"></sidebar-link>
      <sidebar-link href="/social-engineering" title="Social Engineering" icon-class="ti ti-letter-s"></sidebar-link>
      <sidebar-link href="/checklist" title="CheckList" icon-class="ti ti-checklist"></sidebar-link>
      <sidebar-link href="/settings" title="Settings" icon-class="ti ti-settings"></sidebar-link>
    </ul>
  </div>
  <div class="content">
    {% block content %}
    {% endblock %}
  </div>

  <div class="search-overlay" id="search-overlay">
    <div class="search-bar">
      <input type="text" id="search-input" placeholder="Search..." autocomplete="off">
      <ul id="search-results"></ul>
    </div>
  </div>
</body>

<script src="{% static 'js/sidebar.js' %}"></script>
<script src="{% static 'js/sidebarLink.js' %}"></script>
<script src="{% static 'js/search.js' %}"></script>
{% block scripts %}
{% endblock %}
</html>
