{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Beautiful Sin</title>
  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
  <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
  {% block styles %}
  {% endblock %}
</head>

<body>
  <div class="sidebar">
    <div class="logo-content">
      <div class="logo">
        <i class='bx bx-cool'></i>
      </div>
      <i class='bx bx-menu' id="btn"></i>
    </div>
    <ul class="nav-list">
      <sidebar-link href="/" title="Home" icon-class="bx bx-home"></sidebar-link>
      <sidebar-link href="/settings" title="Settings" icon-class="bx bx-cog"></sidebar-link>
    </ul>
  </div>
  <div class="content">
    {% block content %}
    {% endblock %}
  </div>
</body>
<script src="{% static 'js/sidebar.js' %}"></script>
<script src="{% static 'js/sidebarLink.js' %}"></script>
{% block scripts %}
{% endblock %}
</html>