{% extends 'base.html' %}
{% load static %}

{% block styles %}
<link rel="stylesheet" type="text/css" href="{% static 'css/checklist.css' %}">
{% endblock %}

{% block content %}
  <h1>CheckList</h1>
  <ul class="nav nav-tabs">
    {% for tab in tabs %}
      <li class="{% if forloop.first %}active{% endif %}"><a data-toggle="tab" href="#{{ tab.id }}">{{ tab.title }}</a></li>
    {% endfor %}
  </ul>
  <div class="tab-content">
    {% for tab in tabs %}
      <div id="{{ tab.id }}" class="tab-pane fade {% if forloop.first %}in active{% endif %}">
        <div class="header-row">
          <h3>{{ tab.title }}</h3>
          <button class="btn btn-primary download-btn" data-tab-id="{{ tab.id }}"><i class="ti ti-download"></i>Download Progress</button>
        </div>
        <p>{{ tab.content }}</p>
        <textarea class="notes-textarea" placeholder="Enter your notes here..."></textarea>
      </div>
    {% endfor %}
  </div>
{% endblock %}

{% block scripts %}
<script src="{% static 'js/checklist.js' %}"></script>
{% endblock %}
