{% extends 'base.html' %}
{% load static %}

{% block styles %}
<link rel="stylesheet" type="text/css" href="{% static 'css/checklist.css' %}">
{% endblock %}

{% block content %}
  <h1>CheckList</h1>
  <ul class="nav nav-tabs" id="tabList">
    <li><a href="#" id="addTab"><i class="ti ti-plus"></i></a></li>
  </ul>
  <div class="tab-content" id="tabContent">
  </div>

  <div id="emptyMessage">Start a new project</div>

  <!-- Modal for user input -->
  <div id="tabModal" class="modal">
    <div class="modal-content">
      <h2>New Tab</h2>
      <input type="text" id="tabName" placeholder="Enter tab name">
      <select id="tabContentSelect">
      </select>
      <button id="createTab">Create Tab</button>
    </div>
  </div>
{% endblock %}

{% block scripts %}
<script src="{% static 'js/checklist.js' %}"></script>
{% endblock %}
